<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="menu_hospital_root"
        name="HMS"
        sequence="35"
        web_icon="om_hospital,static/description/icon2.png"
    />
    <menuitem
        id="menu_hospital_frontdesk"
        name="Front Desk"
        parent="menu_hospital_root"
    />


</odoo> 