<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="menu_hospital_root"
        name="HMS"
        sequence="10"
    />
    <menuitem
        id="menu_hospital_frontdesk"
        name="Front Desk"
        parent="menu_hospital_root"
    />
    <menuitem
        id="menu_hospital_patients"
        name="Patients"
        parent="menu_hospital_frontdesk"
        action='action_hospital_patient'
    />
</odoo>